# Abaixo estão as extensões de arquivos, arquivos e pastas que deverão ser  ignoradas durante o add, commit e push:
2-semestre/integ-dev-back-end-ii/materiais/algoritmo_sequencial_python_php_c#.mp4
2-semestre/integ-dev-back-end-ii/materiais/animacao_fluxo_sistema_web.mp4
2-semestre/integ-dev-back-end-ii/materiais/animacao_front_x_back.mp4
